@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@700;800&display=swap");
body {
  margin: 0;
  font-family: -apple-system, "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5596e6; /* For browsers that do not support gradients */
  background-image: linear-gradient(#3b8beb, #326eb8);
  height: 120vh;
  font-weight: 400;
}
